@font-face {
    font-family: 'Pokemon';
    src: url(./Pokemon-Solid.ttf) format('truetype');
  }
@font-face {
    font-family: 'Pokemon-Black';
    src: url(./Pokemon-Hollow.ttf) format('truetype');
  }