article {
   background-color: #CCCCFF;
   padding: 50px 20px;
   border-radius: 10px;
}

.container {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

p {
    text-align: center;
    font-size: 2em;
}

form, div, figure {
    display: flex;
    justify-content: center;
}
form {
    flex-direction: column;
}

.img_pokemon_container {
    font-family: 'PT Serif', serif;
}

.center_container_pokemon {
    display: flex;
    justify-content: center;
    flex-direction: column;
}